#pragma once

#define WIFI_SSID "your-ssid"
#define WIFI_PASS "your-password"
#define MESSAGES_URL "https://example.com/messages.json"

#define FINNHUB_API_KEY "your-finnhub-key"
const char* stockTickers[] = {"AAPL", "GOOGL", "MSFT", "AMZN"};
const int stockTickerCount = sizeof(stockTickers) / sizeof(stockTickers[0]);
